
body{
    margin: 0px;
}
.head{
    background: url(../image/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 50px;
    padding: 200px;
    color: black;
    padding-left: 100px !important;
    width: 100%;
}
button{
    border-style: none;
    width: 60px;
    border-radius: 3px;
    color: black;
}
.p{
    color: white;
}
.loko{
    background: yellow;
}
.noloko{
    background: #00000063;
    border-bottom: gray;
    color: white !important;
}
#section1{
    margin-top: 650px;
    position: absolute;
}