
body{
    margin: 0px;
}
header{
    background: url(../image/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    color: black;
    padding: 200px;
    padding-left: 50px !important;
}
button{
    background: #0006;
    color: white;
    border-radius: 3px;
    border-style: none;
}
.loko{
    background: #5bc0de  !important;
}
.sec{
    background: #396b6e;
    color: white;
}
.sec div div div img{
    border-radius: 10px;
    height: 255px;
    width: 500px;
}
.sec1{
    background: brown;
    color: white;
    padding: 20px;
}
.fotsy{
    padding: 10px;
    background: white;
}
.fotsy p{
    color: black;
}
.sec2{
    padding: 20px;
}
.mi{
    margin-top: 10px;
}
.sec3{
    background: url(../image/caption.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.mainty{
    background: #000000a3;
    border-radius: 10px;
    padding: 10px;
}
.ao{
    padding: 20px;
}
.sec4{
    background: url(../image/sous.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.ambany{
    color: black !important;
}
.for{
    color: #5bc0de !important;
}
